.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding:5px;
  }
  
  .logo {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 10px; /* Space between logo and title */
  }
  
  .site-title {
    color: grey; /* Set the title color to gray */
    transition: color 0.3s; /* Smooth transition for title color change */
    margin-bottom: 20px; /* Space between title and navigation */
    
    
  }
  
  header {
    margin-top: 0px; /* Space above the navigation */
  }
  
  nav a {
    color: rgb(0, 0, 0); /* Set link color to gray */
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for link color change */
  }
  
 

  /* .navbar{
    color: #908d8d;
  } */

  /* .navbar:hover{
    color: white;
  } */
  
  /* Change title color on hover */
  .header-container:hover .site-title {
    color: white; /* Change title color to white on hover */
  }

  nav a{
    color: #d8d5d5;
    font-family: 'Athiti', sans-serif;
    font-size: 10px;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}



nav a:link, nav a:visited {
    color: #888888;
    text-decoration: none;
}

nav a:hover{
    color: white;
}


  